.level3:visited{color:#333;}
/*})'"*/
div.ctools-modal-content a.close .img_container{display:none !important;}
/*})'"*/
.use-ajax .img_container{display:unset !important;position:unset !important;}
/*})'"*/
